@import './home';
@import './products';
@import './cart';
@import './register';

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .page-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 20px;
    }
    
}

// NavBar 

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color : rgb(255, 165, 0);
    font-weight: bold;
}

//End Navbar

// Footer

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #000;
}

// End Footer

#about-container{
    min-height: 80vh;
    .info-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
}
