@import './home';
@import './products';
@import './cart';
@import './register';

body{
    font-size: 14px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .page-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 20px;
    }
    
}

// NavBar 

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color : rgb(255, 165, 0);
    font-weight: bold;
}

//End Navbar

// Footer

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #000;
}

// End Footer

